@use "../components/cards";

.card-collection{
    @extend .card; 
    width:auto;
    margin-bottom: var(--space-m);
    &-header{
        padding-bottom: var(--space-xs);
        border-bottom:solid 0.1rem black;
        margin-bottom: var(--space-s);
    }
    &-body{
        gap: var(--space-s);
        display:flex;
        flex-wrap: wrap;
    }
}